--extra-index-url https://download.pytorch.org/whl/cu124
torch==2.6.0
torchvision==0.21.0
accelerate==1.4.0
diffusers==0.32.2
transformers==4.49.0
peft==0.14.0
einops==0.8.1
tqdm==4.67.1
omegaconf==2.3.0
pydantic==2.10.6
fastapi==0.115.14
uvicorn[standard]==0.34.3
python-multipart==0.0.20
aiofiles==24.1.0
huggingface-hub==0.29.3
safetensors==0.5.3

